<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pixis_Employees.Properties.Settings.ConnectionString"
            connectionString="Provider=IBMDA400.DataSource.1;Data Source=deathstar.gtc.edu;User ID=itpa638;Initial Catalog=S101FF5C"
            providerName="System.Data.OleDb" />
        <add name="Pixis_Employees.Properties.Settings.IBMConnectionString1"
            connectionString="Provider=IBMDA400.DataSource.1;Data Source=deathstar.gtc.edu;User ID=itpa641;Initial Catalog=S101FF5C"
            providerName="System.Data.OleDb" />
        <add name="Pixis_Employees.Properties.Settings.IBM_DB2_TDUNK"
            connectionString="Provider=IBMDA400.DataSource.1;Data Source=deathstar.gtc.edu;User ID=itpa648;Initial Catalog=S101FF5C"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>